/* font from: https://noonnu.cc/font_page/694 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('/fonts/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('/fonts/Pretendard-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


/* font from: https://noonnu.cc/font_page/419 */
@font-face {
    font-family: 'KyoboHand';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
h1, h2, h3, h4, h5, h6, strong {
    font-family: 'Pretendard-Bold';
    font-weight: normal;
}
body {
    background-color: #f0f6f7;
}
hr {
    width: 90%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}